body{
    background: #000;
}

#main{
    width: 70%;
    height: 90vh;
    background-color: rgb(3, 39, 82);margin: auto;
    margin-top: 50px;
}
h1{
    padding-top: 70PX;
    text-align: center;
    color: yellow;

}
#TAB{
    color: rgb(35, 180, 247);
    text-align: center;
}
table{
    
    width: 70%;
    height: 60vh;
    margin: auto;
    margin-top: 74px;
}
td{
    background-color: rgba(128, 128, 128, 0.233);
    color: white;
}
th{
    color: rgba(9, 111, 243, 0.5);
}

td:hover{
         background-color: yellow;
         transform: scale(1);
         transition: 1s;
         box-shadow: -6px 6px 1px wheat;
         color: #000;
}